BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never

SortIncludes: true
IncludeBlocks: Regroup
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Attach
AccessModifierOffset: -4

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: AcrossEmptyLinesAndComments

NamespaceIndentation: All

BinPackParameters: false
BinPackArguments: false

ColumnLimit: 120
PenaltyBreakAssignment: 10000
PenaltyReturnTypeOnItsOwnLine: 10000

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true